:root {
  --base-poke: #c8a8e8;
  --gray-base: #e8e8e8;
  --text: #f8f8f8;
  --text-black: #404040;
  --border-color: #606878;
  --base-text: #788090;
  --base-stats: #f8e878;
  --stats: #f8f8d8;


  --normal: #a8a878;
  --fight: #e83000;
  --fly-1: #98d8d8;
  /* --fly-2: #a8a878; */
  --rock: #b8a038;
  --ground: #d8e030;
  /* rock color 2 */
  --poison: #f85888;
  --poison-2: #a040a0;
  /* bug: cor do ground */
  /* ghost: cor poison 2 */
  --steel-2: #507888;
  /* steel 1: cor do normal */
  --fire: #f08030;
  --water: #6890f0;
  --grass: #78c850;
  --eletric: #f8b010;
  /* phisic: cor poison 1 */
  /* ice: cor do fly-1 */
  /* dragon: cor water e fight */
  --dark: #507888;

}